<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.roadkill.andwords"
      android:versionCode="62"
      android:installLocation="auto"
      android:versionName="3.2.4">
      
    <supports-screens 
		android:normalScreens="true" 
		android:smallScreens="true"
		android:resizeable="true" 
		android:anyDensity="true" />
	 
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="25" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- <uses-permission android:name="com.android.vending.BILLING" />  -->   
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">

<!-- 
		<meta-data android:value="a14d7768a09981c" android:name="ADMOB_PUBLISHER_ID"/>
		<meta-data android:value="a14d7768a09981c" android:name="ADMOB_INTERSTITIAL_PUBLISHER_ID" /> 
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|smallestScreenSize|screenLayout|uiMode|screenSize" />
-->	
				
		<activity android:name=".AndWords" android:label="@string/app_name"
        		  android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
        		  android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        		  
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Preferences" android:label="Preferences">
        </activity>
        
        <activity android:name=".LoadPuzzle" android:label="LoadPuzzle">
       	<intent-filter>
        		<action android:name="com.roadkill.andwords.LoadPuzzle.LOAD_PUZZLE" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        <activity android:name=".LoadPuzzle2" android:label="LoadPuzzle2">
       	<intent-filter>
        		<action android:name="com.roadkill.andwords.LoadPuzzle2.LOAD_PUZZLE" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>

    </application>
    
    
</manifest> 